## Appledoc

doc

## OS X

.DS_Store

## Cocoapods
Pods/

### Other

.pt
Examples/ContentfulDeliveryAPI.zip
Examples/UFO.zip
Examples/UFO/Distribution/ContentfulDeliveryAPI.framework/
compile_commands.json
.gutter.json

## Xcode

*.gcda
*.gcno
*.xccheckout
xcuserdata
.idea
*.xcscmblueprint
